.invalid-feedback-select {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;;
}
.custom-select.is-invalid~.invalid-feedback-select,
.form-control.is-invalid~.invalid-feedback-select{
    display: block;
}

.warning-feedback-select {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #bba70a;
}
.custom-select.is-warning~.warning-feedback-select,
.form-control.is-warning~.warning-feedback-select{
    display: block;
}

.Select{
    z-index: 100;
}

.Selectx2{
    z-index: 200;
}

.Selectx3{
    z-index: 300;
}


.Selectx4{
    z-index: 400;
}

.Selectx5{
    z-index: 500;
}

.Selectx6{
    z-index: 600;
}

.Selectx7{
    z-index: 700;
}

.Selectx8{
    z-index: 800;
}

.Selectx9{
    z-index: 900;
}

.Selectx10{
    z-index: 1000;
}

.Selectx11{
    z-index: 1100;
}

.Selectx12{
    z-index: 1200;
}

.Selectx13{
    z-index: 1300;
}

.Selectx14{
    z-index: 1400;
}

.Selectx15{
    z-index: 1500;
}