#.gitignore
.idea/*
node_modules/*
env/*

#Put this files in somewhere private
docker-compose.yml

#Ignore migrations
genericcdss/accounts/migrations/*
genericcdss/history/migrations/*
genericcdss/patients/migrations/*
genericcdss/protocol/migrations/*
genericcdss/protocol_element/migrations/*
genericcdss/utils/migrations/*

#Don't ignore migrations the __init__.py
!genericcdss/accounts/migrations/__init__.py
!genericcdss/history/migrations/__init__.py
!genericcdss/patients/migrations/__init__.py
!genericcdss/protocol/migrations/__init__.py
!genericcdss/protocol_element/migrations/__init__.py
!genericcdss/utils/migrations/__init__.py